#img-bg{
    background-image: url("../assets/img/post1-capa-3-1-scaled.jpg");

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

