<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center   ">
            <div class="col-md-6">
                <div class="row d-flex justify-content-center">

                    <div class="col-md-6 text-white ">

                        <h1 class="fs-36">Seja bem-vindo(a)!</h1>
                        <h5 class ="fs-18">expresse aqui os seus pensamentos e opiniões!</h5>

                    </div>
                </div>

                <div class="row d-flex justify-content-center mt-3 mb-5">

                    <div class="col-md-6">

                        <button class="btn btn-light mr-2">Nova postagem</button>
                        <a class="btn btn-outline-light" href="">Ver Postagens</a>


                    </div>
                </div>

            </div>
            <div class="col-md-6 d-flex justify-content-center">

                <img src="https://imgur.com/MwH3Y3i.png" alt="" width="500px" height="500px">

            </div>
    </div>
</div>  

<div class="conteiner mb-5 mt-5">

    <nav>
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
          
            <a class="nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" 
            href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens  " aria-selected="true">Todas as Postagens   </a>
          
          <a class="nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" 
          href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas postagens</a>
          
          <a class="nav-link text-secondary font-weight-bold" id="nav-contact-tab" data-toggle="tab" 
          href="#postagemTema" role="tab" aria-controls="nav-contact" aria-selected="false">Postagens por tema            </a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todasPostagens   " role="tabpanel" aria-labelledby="nav-todasPostagens-tab">
            Todas as  postagens
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            Minhas postagens
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
            Postagens por tema
        </div>
      </div>


</div>